<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<h3>Product Categoriser & Custom Ordering App</h3>

<div id="app-wrapper">
	<div id="app-main-menu">
		<div class="menu-item active"><a href="#">Home</a></div>
		<div class="menu-item"><a href="/shop_collections">Collections Setup</a></div>
		<div class="menu-item"><a href="#">View Product stats</a></div>
		<div class="menu-item"><a href="/preferences">Options</a></div>		
	</div>
</div>


<div>
<% @charges.each do |charge| %>
	<br /><br />
	NEW Charge
	<br />
    <%= charge.activated_on %>
<% end %>
</div>
    
